#eventList a {
	margin:5px;
	padding:8px;
	display: block;
}

#outputLabel a {
	font-size: 16px;
	text-decoration: none;
	color: #666;
}


/* display: block;
height: 150px;
border: 1px solid;
padding-left: 150px;
font-size: 16px;
text-decoration: none;
color: #666; */
.family-event {
	background-image: URL(/url);
	background-position: center left;
	background-repeat: no-repeat;
	
}

/* hide the default bootstrap blue outline */
.form-control:focus {
    outline: 0 !important;
    border-color: initial !important;
    box-shadow: none !important;
}

#storeSearchBox:focus~.input-group-text {
	outline: 0;
	border-color: initial !important;
	box-shadow: none;
}

.input-group-text {
	border: 1px solid #dee2e6 !important;
	border-left: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #ebbe42; /* Gold */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }